<li class="dropdown">
<a class="dropdown-toggle" href="#" data-toggle="dropdown">
  <i class="fa fa-user-plus">Sign Up</i>
</a>
<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
  <div class="form-div">
    <input style="margin-bottom: 15px;" type="text" placeholder="FirstName" id="first-name" name="fname">
    <input style="margin-bottom: 15px;" type="text" placeholder="LastName" id="last-name" name="lname">
    <input style="margin-bottom: 15px;" type="text" placeholder="Email" id="email" name="email">
    <input style="margin-bottom: 15px;" type="text" placeholder="PhoneNo" id="phone" name="phone">
    <input style="margin-bottom: 15px;" type="text" placeholder="Address1" id="address1" name="address1">
    <input style="margin-bottom: 15px;" type="text" placeholder="Address2" id="address2" name="address2">
    <input style="margin-bottom: 15px;" type="text" placeholder="City" id="city" name="city">
    <input style="margin-bottom: 15px;" type="text" placeholder="Zip" id="zip" name="zip">
    <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password1" name="password2">
    <input style="margin-bottom: 15px;" type="password" placeholder=" Confirm Password" id="password2" name="password2">
    <input style="margin-bottom: 15px;" type="text" placeholder="Security Question" id="security-question" name="security-question">
    <input style="margin-bottom: 15px;" type="text" placeholder="Security Answer" id="security-answer" name="security-answer">
    <input style="float: left; margin-right: 10px;" type="checkbox" id="remember-me" value="1">
    <label class="string optional" for="remember-me"> Remember me</label>
    <input class="btn btn-primary btn-block" id="sign-up" value="Sign Up">
    <label style="text-align:center;margin-top:5px">or</label>
    <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
    <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
  </div>
</div>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-sign-in">Sign In</i></a>
    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
      <div class="form-div">
        <input style="margin-bottom: 15px;" type="text" placeholder="Email" id="login-email" name="login-email">
        <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="login-password" name="login-password">
        <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
        <label class="string optional" for="user-remember-me"> Remember me</label>
        <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
        <label style="text-align:center;margin-top:5px">or</label>
        <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
        <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
      </div>
    </div>
</li>