<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" href="#"><i class="fa fa-cutlery"></i>EDESIA</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="enter city or zip code or caterer type" id="search-item">
            <div class="input-group-btn">
              <button class="btn btn-default" id="search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
          <a href="#" id="shopping-cart-icon">
            <i class="fa fa-shopping-cart fa-lg"></i>
            <span class="badge item-no-in-cart">0</span>
          </a>
        </div>
      </li>
      <li>
        <ul class="nav navbar-nav navbar-left" id="user-menu"></ul>
      </li>
    </ul>
  </div>
</div>
