<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome {{userName}} <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Change Password</a></li>
    <li><a href="#">Update Profile</a></li>
    <li class="divider"></li>
    <li><a class="logout-btn pointer">Logout</a></li>
  </ul>
</li>