<div id="occasionResultDetails">
        {{# each searchArray}}
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                    {{this.cuisine_occasion}}
                    <i class="fa fa-times fa-lg pointer pull-right"></i>
                </h3>
              </div>
              <div class="panel-body">
                <ul>
                    
                    <li>Cuine Name: {{this.cuisine_name}}</li>
                    <li>Price: {{this.price}}</li>
                    
                </ul>
              </div>
            </div>
        </div>
        {{/each}}
</div>