@import 'header.css';
@import 'body.css';

.pointer {
	cursor: pointer;
}

img {
	vertical-align: middle;
	border: 0;

}

img::selection {
	background: 0 0;
}

p {
	margin: 0 0 10px;

}

a {
	color: #d8433d;
	text-decoration: none;
	background: 0 0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}